@import '~photon-colors/photon-colors';
@import '~@mozilla-protocol/core/protocol/css/protocol.css';
@import '~@mozilla-protocol/core/protocol/css/protocol-extra.css';

h1,
h2,
h3,
h4,
h5,
h6,
* {
  font-family: "Sharp Sans TRIAL", fantasy;
  line-height: 1.2;
}

p {
  font-size: 20px;
  line-height: 32px;
}